Node_RED_flow/NodeREDflow.json
[
    {
        "id": "4129cd99.0667f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8624de1.e3fba8",
        "type": "ui_form",
        "z": "4129cd99.0667f4",
        "name": "",
        "label": "",
        "group": "aae28a50.4bac88",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Input to chatbot:",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "5ed34f0a.2288f"
            ]
        ]
    },
    {
        "id": "5ed34f0a.2288f",
        "type": "function",
        "z": "4129cd99.0667f4",
        "name": "input parsing",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "b5e1f5ee.86867",
                "f1f813d0.d9d398"
            ]
        ]
    },
    {
        "id": "b5e1f5ee.86867",
        "type": "ui_text",
        "z": "4129cd99.0667f4",
        "group": "aae28a50.4bac88",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Input to Chatbot:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "f1f813d0.d9d398",
        "type": "watson-conversation-v1",
        "z": "4129cd99.0667f4",
        "name": "Smart Document Chatbot",
        "workspaceid": "50eb71d0-1065-4677-b93d-7c8c8322363f",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/dccd889e-113e-47bb-b737-47cb0e08915a",
        "timeout": "",
        "optout-learning": false,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "7a860a6a.c2de7c",
                "a04f6ac3.e8d248"
            ]
        ]
    },
    {
        "id": "7a860a6a.c2de7c",
        "type": "debug",
        "z": "4129cd99.0667f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "a04f6ac3.e8d248",
        "type": "function",
        "z": "4129cd99.0667f4",
        "name": "output parsing",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "b99a9381.346ad"
            ]
        ]
    },
    {
        "id": "b99a9381.346ad",
        "type": "ui_text",
        "z": "4129cd99.0667f4",
        "group": "df740db4.e9c958",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Chatbot:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "aae28a50.4bac88",
        "type": "ui_group",
        "z": "",
        "name": "Input",
        "tab": "90c79892.5268a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "df740db4.e9c958",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "90c79892.5268a",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "90c79892.5268a",
        "type": "ui_tab",
        "z": "",
        "name": "Chatbot Interface",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]